.home-wrapper {
  text-align: center;
  height: calc(100% - 2.25rem);
  background-color: #000;
  box-sizing: border-box;
}

.repo-logo {
  display: inline-block;
  margin-top: 180px;
}

.author-logo {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

.org-chart {
  background: white;
  padding: 20px;
  overflow-x: auto;
  min-height: 100vh;
}

.list-view {
  margin-top: 3em;
  position: relative;
}

.list-view ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.list-view ul.first-level {
  margin-left: 1.2em;
}

.list-view li {
  position: absolute;
  top: 0;
  margin-left: 19.4em;
}

.org-chart ul {
  padding-left: 0;
  width: 6em;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.org-chart li {
  list-style-type: none;
  position: relative;
  margin-left: 19.4em; /* To increase gap between each ul. Whenever you increase width of box, this has to be increased. */
  padding-bottom: 9.5em; /* To increase margin between nodex */
}

.org-chart li.first::before {
  top: 4em; /* Increase or decrease whenever gap or height in increased or decreased. This is responsible for displaying top curve that connectes a straight line. */
  left: -1.3rem;
  width: 0.68em;
  height: 0.6em;
  border-radius: unset;
  border-top-right-radius: 1em;
  -webkit-mask-image: radial-gradient(circle at bottom left, transparent 57%, black 20%);
  mask-image: radial-gradient(circle at bottom left, transparent 57%, black 20%);
}

.org-chart li::before {
  content: '';
  position: absolute;
  top: 3.3em; /* Increase or decrease whenever gap or height in increased or decreased. This is responsible for displaying curve that connectes a straight line. */
  left: -0.8rem;
  width: 0.85em;
  height: 0.78em;
  background-color: #000;
  border-bottom-left-radius: 1em;
  -webkit-mask-image: radial-gradient(circle at top right, transparent 60%, black 20%);
  mask-image: radial-gradient(circle at top right, transparent 60%, black 20%);
}

.org-chart li::after {
  content: '';
  position: absolute;
  top: 3.3em; /* bottom of staright line. This has to be adjusted when height of box or gap is increased or decreased.*/
  left: -0.8rem;
  border-left: 2.7px solid #000;
  width: 0;
  height: 100%;
}

.org-chart li.card.first::after {
  border-right: 3px solid #000;
  border-left: 0;
  height: 88%; /* Adjest this as well. It can lead to errors in UI when there are only two boxes or nodes that are connected to one straight line.*/
  top: 4.5em;/* top of staright line. This has to be adjusted when height of box or gap is increased or decreased.*/
}

.org-chart ul.one-child > li:last-child::before {
  left: -1.6rem;
  width: 1.6em;
  border-radius: unset;
  mask-image: none;
  border-bottom: 2px solid #000;
  height: unset;
}

.org-chart li:last-child::after {
  height: 0% !important;
}

.org-chart li:nth-last-child(-n+2)::after {
  height: 100%;
}

.org-chart ul:last-child:first-child {
  margin-top: 0em;
}

.org-chart .box {
  border: 2px solid #000;
  position: absolute;
  width: 17em;
  height: 7em;
  padding: 5px;
}

.box.has-child::after {
  content: '';
  position: absolute;
  right: -1.8em;
  top: 3.9em;  /* Increase or decrease whenever gap or height in increased or decreased. This is responsible for displaying top hifen that connectes a straight line. */
  width: 1.7em;
  height: 1em;
  border-top: 2px solid #000;
  border-bottom: 0;
}

.box p {
  margin: unset;
}
