.home-wrapper {
  text-align: center;
  height: calc(100% - 2.25rem);
  background-color: #000;
  box-sizing: border-box;
}

.repo-logo {
  display: inline-block;
  margin-top: 180px;
}

.author-logo {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

.org-chart {
  background: white;
  padding: 20px;
  overflow-x: auto;
  min-height: 100vh;
}

.list-view {
  margin-top: 3em;
  position: relative;
}

.list-view ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.list-view ul.first-level {
  margin-left: 1.2em;
}

.list-view li {
  position: absolute;
  top: 0;
  margin-left: 20.4em;
}

.org-chart ul {
  padding-left: 0;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.org-chart li {
  list-style-type: none;
  position: relative;
  margin-left: 20.4em; /* To increase gap between each ul. Whenever you increase width of box, this has to be increased. */
  padding-bottom: 9.5em; /* To increase margin between nodex */
}

.org-chart li.card::before {
  content: '';
  border-left: 2px solid #000;
  height: 100%;
  position: absolute;
  top: 4.2em;
  left: -1.25em;
}

.org-chart li.card.first::before {
  top: 45%;
}

.org-chart li.card.last::before {
  content: '';
  border-left: none;
  height: 100%;
  position: absolute;
}

.org-chart div.box.box-0::before {
  width: 7.5%;/* Increase or decrease whenever gap or height in increased or decreased. This is responsible for displaying curve that connectes a straight line. */
  left: -7.5%;
  border: none;
}

.org-chart div.box::before {
  content: '';
  position: absolute;
  width: 6.4%;
  /* Increase or decrease whenever gap or height in increased or decreased. This is responsible for displaying curve that connectes a straight line. */
  top: 50%;
  height: 8%;
  /* Increase length of circle */
  left: -7.8%;
  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 100% 100%;
}

/* no before style for root node */
.org-chart > ul > div.box::before {
  content: unset;
  width: unset;
  border: none;
  border-top: none;
  border-radius: unset;
}

/* from left to right first left nodes after root node */
.org-chart > ul > li > ul > div.box::before {
  left: -8%;
}

.org-chart .box-0 > .top-right-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -9.6%;
  width: 2%;
  height: 5%;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-radius: 0 100% 0px 0;
}

.org-chart div.box-0::before, .org-chart div.box.box-nocircle::before {
  width: 0em;
}

.org-chart div.box.box-0::before {
  width: 15%;
  border-top: 2px solid #000;
  mask-image: none;
  background-color: unset;
  left: -15.5%;
}

.org-chart .box {
  border: 2px solid #000;
  position: absolute;
  width: 17em;
  height: 7em;
  padding: 5px;
}


.box p {
  margin: unset;
}
